<%-
#locals
list ||= @list
sub ||= 'inbox'
label ||= t(:inbox_messages_label)
sent = params[:action]=='sent'
-%>

<h1><%=t(:message_center_label)%></h1>	
<div id="sub_nav">
	<%= link_to t(:back_to_dashboard), @p %>  
	<%= link_to t(:inbox_label), messages_path if sent %>
	<%= link_to t(:sent_label), sent_messages_path, :class=>"selected"  unless sent || @p.sent_messages.empty? %>
	<%= inline_tb_link t(:new_message_label), "new_direct_message", {:title => t(:new_message_label)}, {:height => 380} %>
</div>

<div class="activity_box" id="comment">
	<h2><%= sanitize label %></h2>
</div>
 
<%- if list.empty? -%>
<p><%=t(:no_message_label)%></p>
<%- else -%>
<table id="messages" border="0" cellspacing="0" cellpadding="0">
 	<tr>
   		<th><%= sent ? t(:to) : t(:from) %></th>
      <th><%= t(:when) %></th>
    	<th><%= t(:subject) %></th>
	</tr>
	<% list.each do |m|
		mail_user = (@p == m.sender ? m.receiver : m.sender)%>
	<tr>
		<td<%= ' class="unread"' if m.unread? %>><%= link_to mail_user.f,  mail_user %></td>
		<td<%= ' class="unread"' if m.unread? %>><%= time_ago_in_words m.created_at %></td>
		<td<%= ' class="unread"' if m.unread? %>><%= link_to h( m.subject), message_path(m) %></td>
	</tr>
	<% end %>
</table>
<%- end -%>






<div id="new_direct_message" class="hidden">
	<%= render :partial => 'messages/form', :locals => {:hide_header => true} %>
</div>
