<%
profile ||= @profile
%>
<div class="activity_box learn">
  <div class="left avatar"><%= icon profile, :big %></div>
  <div class="right bio_stuff">
    <h1><%= h profile.f %></h1>
  <% unless profile.last_activity_at.blank? %><small><%= "#{t(:last_seen_label)} #{time_ago_in_words profile.last_activity_at} #{t(:ago)}" %></small><% end %>
	  <h3><%= location_link profile %></h3>
  <% unless profile.about_me.blank? %><div><strong><%=t(:about_label)%>:</strong> <%= sanitize(textilize(profile.about_me)) %></div><% end %>
  <% unless profile.website.blank? %><div><strong><%=t(:website_label)%>:</strong> <%= link_to h(profile.website), h(profile.website) %></div><% end %>
  <% unless profile.blog.blank? %><div><strong><%=t(:blog_label)%>:</strong> <%= link_to h(profile.blog), h(profile.blog) %></div><% end %>
  <% unless profile.flickr.blank? %><div><strong><%=t(:flickr_label)%>:</strong> <%= link_to h(profile.flickr), h(profile.flickr) %></div><% end %>
  <% unless profile.aim_name.blank? %><div><strong><%=t(:AIM_label)%>:</strong> <a href="aim:goim?screenname=<%= h profile.aim_name %>"><%= h profile.aim_name %></a></div><% end %>
  <% unless profile.gtalk_name.blank? %><div><strong><%=t(:GTalk_label)%>:</strong> <a href="xmpp:<%= h profile.gtalk_name %>"><%=h profile.gtalk_name %></a></div><% end %>
  <% unless profile.ichat_name.blank? %><div><strong><%=t(:iChat_label)%>:</strong> <a href="ichat:<%= h profile.ichat_name %>"><%=h profile.ichat_name %></a></div><% end %>
	</div>
    <div class="clear"></div>
</div>
