<h1><%=t(:edit_profile_label)%> <%= "#{t(:or)} "+link_to(t(:skip_this_step_label), profile_path(@p)) if flash[:notice]==t(:thanks_for_signing_up) %></h1>


<div id="sub_nav">
<%= link_to t(:view_public_profile_label), profile_path(@p).add_param(:public_view=>true)%>
<%= link_to(t(:back_to_dashboard), @p) if @p %>
</div>

<div class="left half">
  <div id="general_info">
    <% less_form_for @p, :html=>{:method=>:put, :class=>"box no_top"} do |p| %>
      <h2><%= t(:general_info_label) %></h2>

      <%= p.front :email %>
      <input type="text" name="profile[email]" id="profile_email" value="<%= params[:profile].blank? || params[:profile][:email].blank? ? @p.email : params[:profile][:email] %>">
      <%= error_messages_on(:profile, :email) %>
      <%= p.back %>

      <%= p.text_field :first_name %>
      <%= p.text_field :last_name %>
      <%= p.text_field :location %>
	  <%= p.front :timezone %>
	  	<%= time_zone_select :profile, :time_zone, ActiveSupport::TimeZone.us_zones %>
	  <%= p.back %>
      <%= p.text_field :website %>
      <%= p.text_field :flickr %>
      <%= p.text_field :youtube_username %>
      <%= p.text_field :flickr_username %>
      <%= p.text_field :blog %>
      <%= p.text_field :aim_name, :label=>t(:AIM_label) %>
      <%= p.text_field :gtalk_name, :label=>t(:GTalk_label) %>
      <%= p.text_field :ichat_name, :label=>t(:iChat_label) %>
      <%= p.text_area :about_me %>

      <div class="row button">
      <%= p.submit t(:option_save), :class => 'button' %>
      </div>

      <input type="hidden" name="switch" value="name" />
    <% end %>
  </div>

  <div class="clear"></div>
</div>









<div class="right half">
  <div id="upload_icon">
    <% less_form_for @p, :html=>{:method=>:put, :multipart=>true, :class=>"box no_top"} do |p| %>
      <h2><%= "#{t(:upload_icon_label)}:" %></h2>

      <%= p.front :icon, :label => t(:upload_your_icon_label) %>
      <%= file_column_field( "profile", "icon", :size => 15)%>
      <div class="clear"></div>
      <% unless @p.icon.blank? %>
      <div id="avatar_edit">
        <span id="profile_icon_picture">
          <%= icon @p %>
          <%= link_to_remote t(:option_delete_icon), :url=>delete_icon_profile_path(@p), :confirm=>DELETE_CONFIRM  %>
        </span>
      </div>
      <% end %>
      <%= p.back :icon %>

      <div class="row button">
      <%= p.submit t(:option_save), :class => 'button' %>
      </div>

      <input type="hidden" name="switch" value="image" />
    <% end %>
  </div>


  <div id="change_passwords">
    <% less_form_for @p, :html=>{:method=>:put, :class=>"box no_top"} do |p| %>
      <h2><%= t(:change_password_label) %></h2>

      <%= p.front :current_password, :for => :verify_password %>
        <input type="password" name="verify_password" id="verify_password" />
        <%= error_messages_on(:user, :password) %>
      <%= p.back %>

      <%= p.front :new_password, :for => :new_password %>
        <input type="password" name="new_password" id="new_password" />
        <%= error_messages_on(:user, :new_password) %>
      <%= p.back %>

      <%= p.front :confirm_password, :for => :confirm_password %>
        <input type="password" name="confirm_password" id="confirm_password" />
      <%= p.back %>

      <div class="row button">
      <%= p.submit t(:option_save), :class => 'button' %>
      </div>

      <input type="hidden" name="switch" value="password" />
    <% end %>
  </div>
  <div class="clear"></div>
</div>

