<%
photos_empty = @p.photos.empty?
friends_empty = (@p.followings + @p.friends).empty?
messages_empty = @p.sent_messages.empty?
profile_empty = @p.no_data?
blog_empty = @p.blogs.empty?
return unless photos_empty && friends_empty && messages_empty && profile_empty && blog_empty
%>

<div>
  <h2 class="getting_started"><%=t(:how_to_get_started)%></h2>

	<div class="half left">
		<%- if profile_empty -%>  
		<div class="blurp">
      <img src="/images/blurp_profile.png" class="left png" title="<%=t(:gstarted_profile_icon)%>" alt="<%=t(:gstarted_profile_icon)%>" />
      <strong><%=t(:setup_your_profile)%></strong>
      <%=t(:setup_your_profile_text)%>
			<%= link_to t(:setup_my_profile_label), edit_profile_path %>
			
			<div class="clear"></div>
		</div>
		<%- end -%>
		
		<div class="blurp">
      <img src="/images/blurp_forum.png" class="left png" title="<%=t(:gstarted_forum_icon)%>" alt="<%=t(:gstarted_forum_icon)%>" />
      <strong><%=t(:chat_in_forums)%></strong>
      <%=t(:chat_in_forums_text)%>
			<%= link_to t(:goto_forums_label), forums_path %>
			
			<div class="clear"></div>
		</div>
	
		<%- if photos_empty -%>
		<div class="blurp">
      <img src="/images/blurp_photos.png" class="png left" title="<%=t(:gstarted_share_icon)%>"  alt="<%=t(:gstarted_share_icon)%>" />
      <strong><%=t(:share_photos)%></strong>
      <%=t(:share_photos_text, :app => SITE_NAME)%>
			<%= link_to t(:start_uploading_pictures), profile_photos_path(@p) %>
			
			<div class="clear"></div>
		</div>
		<%- end -%>
	
		<div class="clear"></div>
	</div>




	<div class="half right">
		<%- if friends_empty -%>
		<div class="blurp">
      <img src="/images/blurp_friends.png" class="png left" title="<%=t(:gstarted_friend_icon)%>" alt="<%=t(:gstarted_friend_icon)%>" />
      <strong><%=t(:find_friends)%></strong>
      <%=t(:find_friends_text)%>
			<div class="clear"></div>
		</div>
		<%- end -%>
	
		<%- if messages_empty -%>
		<div class="blurp">
      <img src="/images/blurp_message.png" class="png left" title="<%=t(:gstarted_message_icon)%>" alt="<%=t(:gstarted_message_icon)%>" />
      <strong><%=t(:message_friends)%></strong>
      <%=t(:message_friends_text, :app => SITE_NAME)%>
			<div class="clear"></div>
		</div>
		<%- end -%>
	
		<%- if blog_empty -%>
		<div class="blurp">
      <img src="/images/blurp_comment.png" class="left png" title="<%=t(:gstarted_comment_icon)%>" alt="<%=t(:gstarted_comment_icon)%>" />
      <strong><%=t(:start_blogging)%></strong>
      <%=t(:start_blogging_text)%>  
			<%= link_to t(:get_started_blogging), profile_blogs_path(@p) %>
			
			<div class="clear"></div>
		</div>
		<%- end -%>
		
	
		<div class="clear"></div>
	</div>
	
	<div class="clear"></div>
</div>
