<li id="<%= forum.dom_id %>" class="forum">
  
  <div class="last_post">
    <%= forum_last_post_info(forum)%>
  </div>
  
  <div class="info">
    <h2><%=link_to h(forum.name), forum_path(forum) %></h2>
    <span class="details"><%= forum_details(forum) %></span>
    <%=sanitize textilize(forum.description) %><br/>

    <%- if_admin do %>
      <%= inline_tb_link(t(:option_edit), "#{forum.dom_id}_edit", {:title => t(:editing_forum_label, :nome => forum.name),
                                                           :id => "#{forum.dom_id}_edit_link"}) %> : 
      <%= link_to_remote t(:option_destroy), :url => forum, :confirm => t(:are_you_sure), :method => :delete, :class=> "destroy" %>
    <% end %>
  </div>
  
  <div id="<%= forum.dom_id%>_edit" class="hidden">
    <%= render :partial => 'form', :locals => {:forum => forum} %>
  </div>

  
</li>
