<h1><%= SITE_NAME + " " + t(:forums) %></h1>

<%- if_admin do%>
<div id="sub_nav">
  <%= inline_tb_link(t(:create_a_new_forum_label), "new_forum", :title => t(:create_a_new_forum_label)) %>
</div>
<div id="new_forum" class="hidden">
  <%= render :partial => 'form' %>
</div>

<%- end%>

<div id="forum_list_header">
  <div class="last_post"><%=t(:last_post_label)%></div>
  <div class="info"><%=t(:forum_label)%></div>
</div>

<ul id="forums_list">
  <%= render :partial => 'forum', :collection => @forums%>
</ul>
<div id="no_forums_message" style="display: <%= @forums.empty? ? 'block' : 'none' %>">
  <%=t(:no_forums_message)%>
</div>
<br />

<%- if_admin do %>
  <%= sortable_element('forums_list', :url => {:action => :update_positions}) %>
  <%=t(:drag_to_reorder)%><br/>
<%- end%>
