
<div class="forum">
  
  <%= link_to t(:forums), forums_path %> > <%=h @forum.name %>
  <h1 class="forum_name"><%=h @forum.name %></h1>
  <div id="forum_details">
    <%= forum_details(@forum)%>
  </div>
   
   <div id="sub_nav">
     <%- if @u %>
     <%= inline_tb_link(t(:start_a_new_topic_label), "new_forum_topic", {:title => t(:start_a_new_topic_title, :nome => @forum.name),
                                                                   :id => "new_topic_link"},
                                                                  {:height => 130, :width => 300}) %>
       
     <%- end %>

     <%= link_to t(:back_to_forums), forums_path %>
   </div>
   
   <div id="new_forum_topic" class="hidden">
     <%= render :partial => 'forum_topics/form' %>
   </div>
   
   <p class="forum_description">
     <%=h @forum.description %>
   </p>

   <%= will_paginate @topics %>
   <table class="forum_topics">

     <tr class="labels" id="topic_labels_row">
       <td class=""><%=t(:topic_label)%></td>

       <td class="posts"><%=t(:posts_label)%></td>

       <td class="last_post"><%=t(:last_post_label)%></td>

       <%- if_admin do %>
       <td class="controls"></td>
       <% end %>
     </tr>

     <%= render :partial => 'forum_topics/topic', :collection => @topics%>

   </table>
   <div id="no_topics_message" style="display: <%= @topics.empty? ? 'block' : 'none' %>">
     <%=t(:no_topics_message)%>
   </div>

   <%= will_paginate @topics %>
  

</div>

