
<% content_for :head do  -%>
  <%= auto_discovery_link_tag :rss, formatted_profile_blogs_url(@profile, :rss), :title=>t(:blog_title, :nome => @profile.f) %>
<% end -%>


<!-- BEGIN CURRENT POST -->
<div class="left" id="column_l">

  <h1><%= icon @profile %> <%= t(:blog_title, :nome => @profile.f) %></h1>
  <!-- BEGIN POST LINKS -->
  <div id="sub_nav">
    <%- if @p == @profile -%>
    <%= link_to t(:back_to_dashboard), profile_path(@profile) %>
    <%= link_to t(:write_new_post), new_profile_blog_path(@profile) %>
    <%- else -%>
    <%= link_to t(:back_to_profile, :nome => h(@profile.f)), profile_path(@profile) %>
    <%- end -%>
  </div>
  <!-- END POST LINKS -->

  <% if @blogs.empty? %>
  <%= @profile.f + " "+ t(:has_no_blog_posts) %>.
  <% else %>
  <%= render :partial => 'blogs/blog', :collection => @blogs %>
  <% end %>
</div>
<!-- END CURRENT POST -->

<%= render :partial => 'history' %>
