<%
profile ||= @profile
type ||= 'friends'
list = (profile.send(type).paginate(:all, :order => 'last_activity_at DESC', :page => @page, :per_page => @per_page) rescue []) if list.blank?
with_friending ||= false

title = t(type)

if type == 'followers'
  path = profile_followers_path(@profile)
elsif type == 'followings'
  path = profile_followings_path(@profile)
else
  path = profile_friends_path(@profile)
end

%>

<%- unless list.empty? -%>
<div id="<%= type %>" class="activity_box">
  <h2><%= title %> (<%= list.total_entries %>) <%= link_to "#{t(:see_all_label)}", path if list.size < list.total_entries and !with_friending %></h2>

	<div class="inside_box">

<% list.each do |p| %>
		<div class="left my_network">
			<%= icon p %> <%= get_friend_link @p, p if with_friending %>
		</div>
<% end %>

		<div class="clear"></div>
	</div>
</div>
<%- end -%>

