<%= image_tag("footer.png", :class=>'png clear') %>

<div class="text_c" style="padding-top: 20px;">
  <%=t(:lovdbyLess_is_a)%> <a href="http://lovdbyless.com/"><%=t(:lovdbyless_definition)%></a> <%=t(:by)%> <a href="http://www.LessEverything.com" target="blank">Less Everything</a><br>

  <a href="http://lovdbyless.com/download.html"><%=t(:download_free)%></a> | <a href="http://try.lovdbyless.com"><%=t(:demo_lovd)%></a> | <a href="http://lovdbyless.com/notes.html"><%=t(:technical_notes)%></a> | <a href="http://lovdbyless.com/contact"><%=t(:contact_us)%></a> | <a href="http://b.lesseverything.com/lovd-by-less" target="_blank"><%=t(:blog_label)%></a>

</div>

<div id="message" class="fixed"></div>

