<% content_for :head do %>
  <%= auto_discovery_link_tag(:rss, "http://#{SITE}/latest_comments.rss", :title=>t(:latest_comments_label)) %>
  <%= auto_discovery_link_tag(:rss, "http://#{SITE}/newest_members.rss", :title=>t(:newest_members_label)) %>
</script>
<% end %>

  <div class="destaque">
    <div class="slideshow">
      <a href="profiles/32-thiago-bezerra/blogs/79-credi-shop-lançará-novo-site"><img src="/images/banners/banner_novo_site.jpg" class="left slide corrente" title="Novo site da Credishop!" alt="Novo site da Credishop!" /></a>
      <a href="credinews03.pdf" target="_blank"><img src="/images/banners/banner_credinews.jpg" class="left slide" title="Credinews" alt="Credinews" /></a>
      <a href="regras_de_uso.pdf" target="_blank"><img src="/images/banners/banner_termos_de_uso.jpg" class="left slide" title="Termos de uso!" alt="Termos de uso!" /></a>
      <img src="/images/banners/banner2.jpg" class="left slide" title="Wiki" alt="Wiki" />
      <img src="/images/banners/banner3.jpg" class="left slide" title="Fórum" alt="Fórum" />
      <img src="/images/banners/banner4.jpg" class="left slide" title="Rede Social" alt="Rede Social" />
    </div>

    <div class="membro_em_destaque">
      <h2><%=t(:latest_news_label)%> <%= link_to "(#{t(:see_all_label)})", all_news_path() %></h2>
      <%= render :partial => 'blogs/latest_new', :collection => recent_news(1,3) %>
      <%#= render :partial => "profiles/featured", :locals => {:profile => Profile.featured_profile[:profile]} %>
    </div>
  </div>

<div id="front_left_column" class="left activity_box">
  <h2><%=t(:newest_forum_topics_label)%> <%= link_to "(#{t(:see_all_label)})", all_forum_topics_path() %></h2>
  <%= render :partial => 'forum_topics/newest_topic', :collection => recent_forum_posts %>

  <h2><%=t(:newest_wikis_label)%> <%= link_to "(#{t(:see_all_label)})", all_wikis_path() %></h2>
  <%= render :partial => 'wiki_revisions/wiki_revision', :collection => recent_wiki_revisions %>

  <h2><%=t(:newest_blogs_label)%> <%= link_to "(#{t(:see_all_label)})", all_blogs_path() %></h2>
  <%= render :partial => 'blogs/newest_blog', :collection => recent_blogs %>

  <h2><%=t(:newest_members_label)%> <%= link_to "(#{t(:see_all_label)})", all_members_path() %></h2>
  <%= render :partial => 'profiles/newest_member', :collection => recent_members %>
</div>

<div class="front_right_column right" class="left">
  <h2><%=t(:newest_pictures_label)%></h2>
  <% newest_pictures.each do |picture|%>
  <div class="image left small_down_image">
    <div>
      <%= link_to image(picture, :small), profile_photos_path(picture.profile) %>
    </div>
  </div>
  <% end %>
  <div class="clear"></div>
</div>

<div class="clear"></div>

