

<% content_for :head do%>
<%= auto_discovery_link_tag(:rss, "http://#{SITE}/latest_comments.rss", :title=>t(:latest_comments_label)) %>
<%= auto_discovery_link_tag(:rss, "http://#{SITE}/newest_members.rss", :title=>t(:newest_members_label)) %>
<% end%>

<div>
  <img src="/images/main_graphic.jpg" class="left" title="main graphic" alt="main graphic" />
  <div class="front_right_column right" style="margin-top: 0px;">
    <%= render :partial => 'profiles/featured', :locals => {:profile => Profile.featured_profile[:profile]} %>
  </div>

  <div>
    <div id="front_left_column" class="left">
      <h2><%=t(:newest_forum_topics_label)%></h2>
      <%= render :partial => 'forum_topics/new_topic', :collection => recent_forum_posts %>

      <h2><%=t(:newest_members_label)%></h2>
      <%= render :partial => 'profiles/newest_member', :collection => new_members %>
    </div>

    <div class="front_right_column right" class="left">
      <h2><%=t(:newest_pictures_label)%></h2>
      <% newest_pictures.each do |picture|%>
      <div class="image left small_down_image">
        <div>
          <%= link_to image(picture, :small), profile_photos_path(picture.profile) %>
        </div>
      </div>
      <% end %>
      <div class="clear"></div>
    </div>

    <div class="clear"></div>
  </div>
</div>

