<% p = feed_item.item %>
<div class="feed_item photo_feed" id="<%= feed_item.dom_id %>">
  <div class="left">
    <img src="/images/blurp_photos.png" class="png icon_small" title="<%=t(:user_photo_icon)%>"  alt="<%=t(:user_photo_icon)%>" />
    <%= link_to h(p.profile.f), p.profile %> <%=t(:uploaded_a)%> <a href="<%= image_path p, nil %>" title="<%= p.caption %>" class="thickbox"><%=t(:new_photo_uploaded)%></a>
	</div>
  	<!--div class="right">
    	<%#= x_feed_link(feed_item) if me %>
  	</div-->
	<div class="clear"></div>
</div>

