<%-
#locals
profile ||= @profile
size ||= 6
posts ||= profile.forum_posts.find :all, :limit => size


total = profile.forum_posts.count
-%>

<% unless posts.empty? %>
<div class="activity_box">
  <h2><%= t(:most_recent_forum_post) %>
    <span>(<%= t(:latest_amount) %> <%= posts.size %> <%= t(:of) %> <%=total%>)</span>
	</h2>
	<div class="inside_box">
	<ul>
	<%= forum_posts_li posts %>
	</ul>
		<div class="clear"></div>
	</div>
</div>
<% end %>

