<a name="<%= post.dom_id%>" href=""></a>
<div class="post" id="<%= post.dom_id%>">
  
  <div class="info">
  <%= icon post.owner %><br/>
  <%= t(:forum_posted_label) %> <%=link_to h(post.owner.f), profile_path(post.owner) %><br/>
  <%= post.created_at %><br/>
  <%- if_admin do %>
    <%= inline_tb_link(t(:option_edit), "#{post.dom_id}_edit", {:title => t(:editing_post_in_title, :titulo => post.topic.title),
                                                           :id => "#{post.dom_id}_edit_link"}, {:height => 290}) %> : 
    <%= link_to_remote t(:option_destroy), {:url => forum_topic_post_path(@forum, @topic, post), :confirm => t(:are_you_sure), :method => :delete}, {:class=> "destroy", :id => "#{post.dom_id}_destroy_link"} %>
  <%- end %>
  </div>
  
  <div class="body">
    <%= sanitize textilize(post.body)%>
  </div>
  
  <div id="<%= post.dom_id%>_edit" class="hidden">
    <%= render :partial => 'forum_posts/form', :locals => {:post => post}%>
  </div>
  
</div>
