<% less_form_for @user, :url => login_path, :method => :post do |f| %>

<div id="login_form">
  <h1><%=t(:login_your_account)%></h1>

  <div class="instruction">
    <%= link_to t(:need_an_account), signup_url  %>
  </div>

  <%= f.text_field :login, :class => "focus_first" %>
  <%= f.password_field :password %>
  <%= f.wrap(:remember_me, :for => :remember_me){ check_box_tag 'remember_me',1,false, :class=>"checkbox" } %>

  <div class="button">
   <%= f.submit t(:login_now), :class=>'button' %>
  </div>

</div>

<div class="instruction">
  <span><%=t(:i)%> <span id="forgot_text"><%=t(:forgot)%></span> <%=t(:my)%> <a href="javascript:void(0);" id="forgot_password_clicker" style="display: inline;"><%=t(:password)%></a></span>
</div>

<div id="forgot_form" class="hidden">	
  <h1><%=t(:retrieve_my_password)%></h1>
  <div class="instruction"><%=t(:email_address_sent)%>.</div>
  <div id="forgot_password">
    <%= f.text_field :email, :label => I18n.t(:enter_email_address) %>
  </div>
  <div class="button">
    <%= f.submit t(:retrieve_password), :class => 'button' %>
  </div>
</div>
<% end %>




<script type="text/javascript" charset="utf-8">
//<![CDATA[
jQuery(function(){
  tog("#forgot_password_clicker", "#login_form");
  tog("#forgot_password_clicker", "#forgot_form", forgot_text);

});
function forgot_text(){
  if (jQuery("#forgot_text").html() == "<%=t(:forgot)%>")
    jQuery("#forgot_text").html("<%=t(:remember)%>");
  else
    jQuery("#forgot_text").html("<%=t(:forgot)%>");

}
//]]>
</script>
